.solution {
	display: grid;
	grid-template-columns: 33vw 33vw 33vw;
	grid-template-rows: calc(2vh + 35px) calc(94vh - 85px);
	font-size: calc(1vh + 10px);
}

.day {
	grid-column-start: 1;
	grid-column-end: 5;
}

.day h1 {
	margin: 0;
}