.hull-grid {
	background-color: white;
	display: inline-flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: 1px solid red;
}

.hull-row {
	background-color: white;
	border: none;
	display: inline-flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.hull-black {
	min-height: 10px;
	min-width: 10px;
	display: inline;
	border: none;
	background-color: black;
	margin: 0;
	padding: 0;
}

.hull-white {
	min-height: 10px;
	min-width: 10px;
	border: none;
	display: inline;
	background-color: white;
	margin: 0;
	padding: 0;
}